<section class="intro">
  <img src="{% link assets/images/pichot.jpg %}" alt="photo of Jonathan Pichot">
  <h3>
    Hello! 👋 I'm Jonathan Pichot. 
  </h3>
  <p>
    I'm an urbanist, technologist, and endlessly curious person. 
  </p>
  <p>
    I've spent much of my career helping governments build better software, often for cities. I've been a full stack developer, product manager, and public sector entrepreneur, including:
  
    <ul>
      <li>Leading the technical strategy and EU business development for <a href="https://www.helpfulplaces.com">Helpful Places</a>, a startup helping make technology in public space more transparent and empowering to communities.</li>
      <li>Helping create <a href="https://incubateur.anct.gouv.fr">l'Incubateur des Territoires</a> at <abbr title="An agency in the French national government focused on supporting local governments"><a href="https://agence-cohesion-territoires.gouv.fr">l'Agence nationale de la cohésion des territoires</a></abbr>,
        a publicly-funded incubator, part of the <a href="https://beta.gouv.fr">Beta.gouv ecosystem</a>, focused on building open source software for French local governments.</li>
      <li>Working at <a href="https://labs.planning.nyc.gov/">NYC Planning Labs</a> where I spearheaded a product to automate the environmental review process, amongst other things.</li>
      <li>Consulting on data and digital strategy for <a href="https://downtowngr.org/">Downtown Grand Rapids Inc</a>.</li>
      <li>
        Developing software for
        <abbr title="Rapid Development Group">
          <a href="https://www.rapiddg.com/">a</a>
        </abbr>
        <abbr title="Collective Idea">
          <a href="https://collectiveidea.com/">number</a>
        </abbr>
        <abbr title="Mighty in the Midwest">
          <a href="https://mightyinthemidwest.com/">of</a>
        </abbr>
        <abbr title="Five by Five">
          <a href="https://www.fivebyfive.io/">agencies</a>.
        </abbr>
      </li>
    </ul>

    I've taught GIS at the Pratt Institute in Brooklyn and introductory javascript at the Factory in Grand Rapids.
    I occasionally speak about my work at conferences and events.
  <p>
  <p>
    I'm currently working as an independent contractor focused on digital product discovery, development, and deployment with a strong focus on cities and the built environment.
    I'm actively looking for other projects, particularly those that touch on urbanism, energy, data, and mapping.
    Interested in working together? Feel free to contact me <a href="mailto:jonathan@pichot.us">here</a>.
  </p>
  <p>
    I care deeply about cities and communities. I've founded and run volunteer groups, I've been a neighborhood block captain,
    and I've studied cities through data.
    <a href="https://www.ted.com/talks/taiye_selasi_don_t_ask_where_i_m_from_ask_where_i_m_a_local">I consider myself a local</a> of Paris 🇫🇷 and Grand Rapids 🇺🇸.
  </p>
</section>
