<section class="intro">
  <img src="{{ site.baseurl }}/assets/images/pichot.jpg" alt="photo of Jonathan Pichot">
  <h3>
    Hello! 👋 I'm Jonathan Pichot. 
  </h3>
  <p>
    I'm an urbanist, technologist, and endlessly curious person.
    I currently work for <a href="https://www.cohesion-territoires.gouv.fr/lagence-nationale-de-la-cohesion-des-territoires">l'Agence nationale de la cohésion des territoires</a>, 
    where I'm helping build an incubator for digital public services alongside <a href="https://beta.gouv.fr/">beta.gouv.fr</a>.
  </p>
  <p>
    I've spent much of my career helping governments get better at building software. I've been a full stack developer, product manager, and public sector entrepreneur. Previously, 
    I've worked for <a href="https://labs.planning.nyc.gov/">NYC Planning Labs</a>, <a href="https://downtowngr.org/">Downtown Grand Rapids Inc</a>, and
    <abbr title="Rapid Development Group">
      <a href="https://www.rapiddg.com/">a</a>
    </abbr>
    <abbr title="Collective Idea">
      <a href="https://collectiveidea.com/">number</a>
    </abbr>
    <abbr title="Mighty in the Midwest">
      <a href="https://mightyinthemidwest.com/">of</a>
    </abbr>
    <abbr title="Five by Five">
      <a href="https://www.fivebyfive.io/">agencies</a>.
    </abbr>
    I've taught GIS at the Pratt Institute in Brooklyn and introductory javascript at the Factory in Grand Rapids.
    I occasionally speak about my work at conferences and events.
  <p>
</section>
