<section class="intro">
  <img src="{% link assets/images/pichot.jpg %}" alt="photo of Jonathan Pichot">
  <h3>
    Hello! 👋 I'm Jonathan Pichot. 
  </h3>
  <p>
    I'm an urbanist, technologist, and endlessly curious person. 
  </p>
  <p>
    Currently, I'm a Product Manager at <a href="https://vianova.io">Vianova</a>, a startup building software to help cities manage how people and things move in public space.
  </p>
  <p>
    I've spent much of my career helping governments build better software, often for cities. I've been a full stack developer, product manager, and public sector entrepreneur. Previously, 
    I've worked for 
    <abbr title="An agency in the French national government focused on supporting local governments"><a href="https://agence-cohesion-territoires.gouv.fr">l'Agence nationale de la cohésion des territoires</a></abbr>,
    <a href="https://labs.planning.nyc.gov/">NYC Planning Labs</a>,
    <a href="https://downtowngr.org/">Downtown Grand Rapids Inc</a>, and
    <abbr title="Rapid Development Group">
      <a href="https://www.rapiddg.com/">a</a>
    </abbr>
    <abbr title="Collective Idea">
      <a href="https://collectiveidea.com/">number</a>
    </abbr>
    <abbr title="Mighty in the Midwest">
      <a href="https://mightyinthemidwest.com/">of</a>
    </abbr>
    <abbr title="Five by Five">
      <a href="https://www.fivebyfive.io/">agencies</a>.
    </abbr>
    I've taught GIS at the Pratt Institute in Brooklyn and introductory javascript at the Factory in Grand Rapids.
    I occasionally speak about my work at conferences and events.
  <p>
  <p>
    I care deeply about cities and communities. I've founded and run volunteer groups, I've been a neighborhood block captain,
    and I've studied cities through data.
    <a href="https://www.ted.com/talks/taiye_selasi_don_t_ask_where_i_m_from_ask_where_i_m_a_local">I consider myself a local</a> of Paris 🇫🇷 and Grand Rapids 🇺🇸.
  </p>
</section>
